img{
    width:150px;
    margin-left: 10px;
    margin-right: 70px;
}
.products{
    
}
.cp1{
    border:2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: coral;
    display: flex;
}
button{
    width: 200px;
}